#bar_right, #bar_left, #bar_center { 
	/* Should add to QPushButton's
	min-height + padding-top + padding-bottom */
	min-height:34px;

	background:rgb(rgb-xrdb-color0, 80%);
}

QPushButton, QMenu::item {
	/*background: rgb(rgb-xrdb-color0, 75%);*/
	color: xrdb-color5;
	min-width: 20px;
	padding: 7px 10px 7px;
	min-height:20px;
	border-radius:0;
	border-top:0px solid xrdb-color5;
	border-bottom:0px solid xrdb-color5;
}

QMenu::item {
	background: rgb(rgb-xrdb-color0, 80%);
	min-height:10px;
	padding:7px;
}

QPushButton:hover, QMenu::item:selected, QPushButton[i3visible=true] {
	background: rgb(rgb-xrdb-color7, 10%);
	color: xrdb-color2;
}

QMenu::item:pressed {
	padding-left:4px;
	border-left: 3px solid xrdb-color2;
}

QPushButton:pressed { 
	padding-bottom: 4px;
	border-bottom: 3px solid xrdb-color2;
 }